<div class="p-2 bg-dark primary-text w-100">
    <div class="footer-content d-flex justify-between w-100 mx-auto">
        <div class="d-flex align-center footer-links w-100 justify-between">
            <div class="nav-link footer-links-routes d-flex align-center">
                <h2 class="primary-text s mr-2">FilmApp</h2>
                <div class="d-flex justify-center">
                    <a href="/films" class="link primary-text xs mr-1">Home</a>
                    <a href="/films/search" class="link primary-text xs mr-1">Discover</a>
                    <a href="/" class="link xs primary-text">Profile</a>
                </div>
            </div>
            <div class="nav-link d-flex">
                <a href="/" class="primary-text link-icon"><i class="fab fa-facebook md"></i></a>
                <a href="/" class="primary-text link-icon d-block ml-2"><i class="fab fa-github md"></i></a>
                <a href="/" class="primary-text link-icon d-block ml-2"><i class="fab fa-linkedin md"></i></a>
            </div>
        </div>
    </div>
</div>

<script src="/js/animateRendered.js"></script>