.bg-carousel-container {
    height: 60vh;
    width: 100%;
    position: relative;
}
.bg-carousel {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.bg-track-container{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bg-track {
    position: relative;
    height: 100%;
    width: 100%;
    list-style: none;
}

.bg-track-transition {
    transition: all 800ms linear;
}

.bg-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.account-bg-carousel-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(180deg, rgb(0, 0, 0) 1%, rgba(0, 0, 0, 0.3) 90%);
}

.index-bg-carousel-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}