<% layout('/layouts/boilerplate') %>
<div class="container">
    <div class="error-container w-70 mx-auto">
        <h2 class="lg"><%= err.status %></h2>
        <p class="md"><%= err.message %></p>
    </div>
</div>